<div class="upper-data-all">
<mat-tab-group style="background-color:grey;" animationDuration="500ms">


  <mat-tab label="Weather">
    <div class="container">
      <div class="upper-data">
        <img src="../assets/image-asset.jpeg">
        <div class="weather-data">
          <div class="date">08.22</div> <br>
          <div class="location">LONDON</div> <br><br>
          <div class="temperature">{{12}}*C</div> <br>
        </div>
      </div>
     </div>
     <div class="medium-data">
      <div class="pressure" style="width: 33%;">Pressure: low</div>
      <div class="humidity" style="width: 33%;">humidity: 100%</div>
      <div class="wind" style="width: 33%;">wind: 11 km/h</div>
    </div>
    <hr>
    <div class="lower-data">
      <div class="2days-ago" >some data: 9:00   12:00  15:00  18:00  21:00</div>
      <div class="1days-ago" >some data: 9:00 12:00 15:00 18:00 21:00</div>
      <div class="today" >some data: 9:00 12:00 15:00 18:00 21:00</div>
      <div class="tomorrow" >some data: 9:00 12:00 15:00 18:00 21:00</div>
      <div class="tomorrow2" >some data: 9:00 12:00 15:00 18:00 21:00</div>
    </div>

  </mat-tab>




  <mat-tab label="Graph">    
    <div class="container">
    <div class="upper-data">
      <p>some text2</p>
      <img src="../assets/istockphoto-1265900812-612x612.jpg">
    </div>
  </div>




</mat-tab>
  <mat-tab label="Heat-index">
    <div class="container">
      <div class="upper-data">
        <p>some text3</p>
        <img src="../assets/istockphoto-1265900812-612x612.jpg">
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<!-- <p>wtf</p>
<img src="/src/assets/image-asset.jpeg"> -->
</div>