<div>
  <ejs-tab>
    <e-tabitems cssClass="tab_content">
      <e-tabitem [header]="tabHeaderText[0]" [content]="tabContent[0]">
      <div class="container">
        <div class="upper-data">
          <img src="src\assets\London-PNG-File.png" alt="">

        </div>
      </div>
      </e-tabitem>
      <e-tabitem [header]="tabHeaderText[1]" [content]="tabContent[1]">

      </e-tabitem>
      <e-tabitem [header]="tabHeaderText[2]" [content]="tabContent[2]">

      </e-tabitem>
    </e-tabitems>
  </ejs-tab>
</div>